.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 4px solid #ffcc00;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    top: 0;
    z-index: 100;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__image img {
    width: 90px;
    height: auto;
    display: block;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}