.search-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
    width: 100%;
}

.brawler__search {
    padding: 12px 20px;
    font-size: 1rem;
    border: 2px solid #1e1e24;
    border-radius: 10px;
    width: 300px;
    outline: none;
    font-weight: 600;
}

.brawler__search-btn {
    background-color: #ffcc00;
    color: #1e1e24;
    border: 3px solid #1e1e24;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 0 #1e1e24;
    transition: transform 0.1s, box-shadow 0.1s, background-color 0.2s;
}

.brawler__search-btn:hover {
    background-color: #ffd940;
}

.brawler__search-btn:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #1e1e24;
}

.brawler__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    justify-items: center;
}

.brawler-card {
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 280px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
}

.brawler-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 12px 24px rgba(255, 204, 0, 0.2);
}