.search-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
    width: 100%;
}

.brawler__search {
    padding: 12px 20px;
    font-size: 1rem;
    border: 2px solid #1e1e24;
    border-radius: 10px;
    width: 300px;
    outline: none;
    font-weight: 600;
}

.brawler__search-btn {
    background-color: #ffcc00;
    color: #1e1e24;
    border: 3px solid #1e1e24;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 0 #1e1e24;
    transition: transform 0.1s, box-shadow 0.1s, background-color 0.2s;
}

.brawler__search-btn:hover {
    background-color: #ffd940;
}

.brawler__search-btn:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #1e1e24;
}

.brawler__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    justify-items: center;
}

.brawler-card {
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 280px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
}

.brawler-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 12px 24px rgba(255, 204, 0, 0.2);
}

.brawler-card__image-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    border-bottom: 2px solid #c1c1c1;
}

.brawler-card__image {
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 8px 4px rgba(0, 0, 0, 0.4));
}

.brawler-card__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.brawler-card__title {
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    letter-spacing: 0.5px;
}

.brawler-card__rarity, 
.brawler-card__class {
    color: #b3b3b9;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

.brawler-card__rarity span,
.brawler-card__class span {
    color: #fff;
    font-weight: 800;
}

.brawler-card__details {
    margin-top: auto;
    background-color: #00daff;
    color: #fff;
    border: 3px solid #1e1e24;
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 0 #1e1e24;
    text-shadow: 1px 1px 0px #000;
    transition: all 0.1s ease;
}

.brawler-card__details:hover {
    background-color: #00b4d8;
}

.brawler-card__details:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #1e1e24;
}