<form [formGroup]="brawlerForm" (ngSubmit)="addValueToArray()" class="create-form">
    <h2 class="create-form__title">Create New Brawler</h2>

    <div class="create-form__group">
        <input formControlName="name" placeholder="Name" class="create-form__input">
        <div class="create-form__alert" *ngIf="isSubmitted && name?.invalid && (name?.dirty || name?.touched)">
            <div *ngIf="name?.hasError('required')">Name is required.</div>
            <div *ngIf="name?.hasError('minlength')">Name must be at least 2 characters long.</div>
        </div>
    </div>

    <div class="create-form__group">
        <select id="raritySelect" formControlName="rarity" class="create-form__select">
            <option value="" disabled>Select a rarity</option>
            <option *ngFor="let rarity of rarities" [ngValue]="rarity.id">
                {{ rarity.name }}
            </option>
        </select>
        <div class="create-form__alert" *ngIf="isSubmitted && rarity?.invalid && (rarity?.dirty || rarity?.touched)">
            <div *ngIf="rarity?.hasError('required')">Rarity is required.</div>
        </div>
    </div>

    <div class="create-form__group">
        <select id="classSelect" formControlName="class" class="create-form__select">
            <option value="" disabled>Select a class</option>
            <option *ngFor="let class of classes" [ngValue]="class.id">
                {{ class.name }}
            </option>
        </select>
        <div class="create-form__alert" *ngIf="isSubmitted && class?.invalid && (class?.dirty || class?.touched)">
            <div *ngIf="class?.hasError('required')">Class is required.</div>
        </div>
    </div>

    <div class="create-form__image-wrapper">
        <input type="file" accept="image/*" (change)="onFileSelected($event)">
    </div>
    <button type="submit" class="create-form__btn">Add new brawler</button>
</form>
